<!--
    templateType: global_partial
    isAvailableForNewContent: false
-->
<!-- Begin partial -->
<!-- Footer partial -->

   <footer class="site-footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-column">
                    <h3>SportsIn</h3>
                    <p>SportsIn is an AI powered mobile platform that allows professional or sports athletes to connect with clubs and coaches through smart video analysis and advanced matching algorithms.</p>
                    <div class="social-links">
                        <a href="#" class="social-link">in</a>
                        <a href="#" class="social-link">@</a>
                        <a href="#" class="social-link">ig</a>
                        <a href="#" class="social-link">f</a>
                    </div>
                </div>
                <div class="footer-column">
                    <h4>About Info</h4>
                            <ul>
                                <li >
                                  <a href="#About">About</a>
                                </li>
                                <li>
                                  <a href="#MVP">MVP</a>
                                </li>
                                <li>
                                  <a href="#Team">Team</a>
                                </li>
                             </ul>
                </div>
                <div class="footer-column">
                    <h4>Contact</h4>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Available in November 2024</a></li>
                        <li><a href="#">Egypt</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-bottom">
                <p>© 2025 SportsIn Foundation Project. All rights reserved.</p>
            </div>
        </div>
    </footer>
<!-- End partial -->