<!--
    templateType: page
    isAvailableForNewContent: true
    label: Practicum Page
  screenshotPath: /hebatullah_best-practices-theme/images/template-previews/page.png
-->
{% extends "./base.html" %}

{% block body %}
  <main class="container" id="main-content">
    {% dnd_area "main_content" label="Main content area" %}
          <div id="About">
            {% include_dnd_partial path="../../sections/image-text.html" %}
         </div>
         <div id="Team">
             {% include_dnd_partial path="../../sections/team-section.html" %}
         </div>
          <div id="MVP">
         {% include_dnd_partial path="../../sections/mvp-section.html" %}
          </div>
    {% end_dnd_area %}
  </main>
{% endblock %}
