.image-text{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.image{
  margin-right:16px;
}

@media (max-width: 767px) {

.image-text{
  flex-direction:column;
  align-items:center;
}
  .image-text-content{
   display:flex;
  flex-direction:column;
  align-items:center;
    text-align: center;
}